.container {
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    height: 86vh; */
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    width: 95%;
    /* background-color: red; */
}