.container {
    width: 74%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title {
    text-align: center;
    border: 2px solid silver;
    border-radius: 10px;
    padding: 1rem;
}

.items {
    border: 2px solid silver;
    border-radius: 10px;
    padding: 1rem;
    min-height: 50rem;
    display: flex;
    justify-content: space-between;
}

.items aside {
    width: 25%;
    padding: 1rem 1.5rem;
    border: 2px solid silver;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ver, .U, .cal, .noSer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.U button{
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;  
    background-color: #588aff;
    border-radius: 10px;
}

.ser {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
}

.serBtn {
    padding: 0.1rem 0;
    border: 1px solid silver;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

.autoR h1, .manR h1 {
    font-size: 1.2rem;
    text-align: center;
}

.autoR button, .manR button {
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0.4rem;
    font-size: 1.2rem;
    margin: 0.8rem 0rem 0 2rem;    
    cursor: pointer;
}

.autoR button:nth-child(2) {
    background-color: #0051ff;
}

.autoR button:nth-child(3) {
    background-color: #ED6A5E;
}

.manR button:nth-child(3) {
    background-color: #F4E450;
}

.manR button:nth-child(4) {
    background-color: #5eff00;
}

.manR button:nth-child(2) {
    background-color: #fa4517;
}

.main {
    display: flex;
    flex-direction: column;
    width: 72%;
    border-radius: 10px;
    position: relative;
}

.Box {
    border: 2px solid silver;
    border-radius: 10px;
    padding: 0rem 0.2rem;
    height: 11.5rem;
    overflow-y: scroll;
    margin-top: 0.6rem;
}

.link {
    position: sticky;
    bottom: 0;
    text-align: right;
    background-color: #fff;
    height: 2rem;
    padding: 0.3rem 1rem 0 0;
}

.Box a {
    text-decoration: none;
    font-size: 1.1rem;
    vertical-align: middle;
}

.Box a:hover {
    background-color: silver;
    transition: 100ms;
    color: black;
    padding: 0.1rem;
    border-radius: 5px;
}

.tasksItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.23rem 1rem;
}

.tasksItems p {
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.tasksItems p:nth-child(2) {
    width: 50rem;
    text-align: left;
    background-color: #F4E450;
}

.statusBtn {
    width: 4.5rem;
    padding: 0.2rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #00ccff;
    border: 1px solid silver;
    cursor: pointer;
}

.statusBtnDone {
    background-color: red;
}

.commentsItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.23rem 1rem;
}

.commentsItems p {
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.commentsItems p:nth-child(3) {
    width: 50rem;
    text-align: left;
    background-color: #F4E450;
}

.issuesItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.23rem 1rem;
}

.issuesItems p {
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    text-align: center;
    font-size: 1.3rem;
}

.issuesItems p:nth-child(2) {
    width: 45rem;
    text-align: left;
    background-color: #F4E450;
}

.issueStatusBtn {
    width: 4.5rem;
    padding: 0.2rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #00ccff;
    border: 1px solid silver;
    cursor: pointer;
}

.issueStatusBtnResolve {
    background-color: red;
}

.items table {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.items th {
    padding-right: 5rem;
}

.info {
    padding: 0.4rem 5.6rem 0.4rem 0;
    color: rgb(99, 99, 99);
}

.row:hover {
    background-color: rgb(117, 163, 255);
}

.Tasks {
    border: 2px solid silver;
    border-radius: 10px;
    min-height: 46.5rem;
    padding: 0.6rem 0;
}

.addBtn {
    text-align: right;
    padding: 0 0.2rem .5rem 0 ;
}

.TasksContainer a {
    text-decoration: none;
    text-align: right;
    vertical-align: middle;
}

.tasksItemsM {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.23rem 1rem;
}

.tasksItemsM p {
    width: 3rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 1.3rem;
}

.tasksItemsM p:nth-child(2) {
    width: 45rem;
    height: 3.3rem;
    text-align: left;
    background-color: #F4E450;
}

.taskstatusBtnM {
    width: 4.5rem;
    padding: 0.2rem 0;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #00ccff;
    border: 1px solid silver;
    cursor: pointer;
}

.taskstatusBtnResolveM {
    background-color: red;
}

.tasksItemsM select {
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: #00ccff;
}


