.container {
    width: 74%;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    margin-top: 8rem;
    padding: 1rem;
    width: 90%;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.462);
    border-radius: 10px;
}
.main {
    margin-top: .3rem;
    width: 90%;
    height: 60rem;
    border: 2px solid rgba(0, 0, 0, 0.462);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
}
.mainA {
    padding: 1.5rem 3rem;
    grid-column: 1/2;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;

}
.mainB {
    padding: 1.5rem 3rem;
    grid-column: 2/3;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
}
.mainC {
    grid-column: 1/3;
    grid-row: 4/5;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    
}
.Item {
    margin: 1rem;
    font-size: 18px;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.Item input {
    width: 12rem;
    height: 32px;
    border: none;
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 5px;
    text-align: center;
}

.ItemS {
    float: right;
    width: 12.5rem;
    background-color: rgba(128, 128, 128, 0.178);
    border: none;
    border-radius: 5px;
    height: 32px;
    text-align: center;
}
.ItemSC {
    width: 12.5rem;    
}
.TextAreaIP {
    width: 20rem;
    height: 5rem;
    background-color: rgba(128, 128, 128, 0.178);
    border: none;
    border-radius: 5px;
}
.AddIcon {
    position: relative;
    left: 14.5rem;

}
.srvArea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
}
.srvItem {
    display: flex;
    align-items: center;
    margin-left: 3px;
    padding: 2px;
}
.submitIn {
    margin-top: 2rem;
    width: 15rem;
    height: 2.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(128, 128, 128, 0.178);

}