.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.header {
    width: 78%;
    height: 8rem;
    background-color: rgb(200, 219, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    height: 50rem;
    width: 80%;
    border: 3px solid rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    margin: 10px;
}
.item {
    list-style: none;
    display: inline-block;
    margin-left: 5rem;
    margin-top: 2rem;
}



.chartMain {
    border: 3px solid rgba(0, 0, 0, 0.288);
    margin: 2rem;
    height: 85%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}